<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<select id="ProductBoardListCount" parameterType="ProductboardDto" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCTBOARD
		WHERE 1 = 1
		<if test="searchFiled != null and searchFiled != ''">
			AND ${searchFiled} LIKE '%' || #{searchValue} || '%'
		</if>
	</select>	

	<select id="boardList" resultType="ProductboardDto" parameterType="ProductboardDto">
		SELECT A.RNUM, A.PRODUCTBOARD_NO, A.ID, A.PRODUCTBOARD_TITLE, A.PRODUCTBOARD_CONTENT, A.PRODUCTBOARD_REGDATE, A.PRODUCTBOARD_READCOUNT, A.PRODUCTBOARD_STARSCORE
		FROM (
					SELECT ROWNUM AS RNUM. S.PRODUCTBOARD_NO, S.ID, S.PRODUCTBOARD_TITLE, S.PRODUCTBOARD_CONTENT, S.PRODUCTBOARD_REGDATE, S.PRODUCTBOARD_READCOUNT, S.PRODUCTBOARD_STARSCORE
					FROM (
								SELECT PRODUCTBOARD_NO, ID, PRODUCTBOARD_TITLE, PRODUCTBOARD_CONTENT, PRODUCTBOARD_REGDATE, PRODUCTBOARD_READCOUNT, PRODUCTBOARD_STARSCORE
								FROM PRODUCTBOARD
								WHERE 1 = 1
								<if test="searchFiled != null and searchFiled != ''">
									AND ${searchFiled} LIKE '%' || #{searchValue} || '%'
								</if>
								ORDER BY PRODUCTBOARD_NO DESC
							)S
					)A
		WHERE A.RNUM BETWEEN #{startRowNo} AND #{endRowNo}
	</select>
</mapper>
